*{
    background-color: tomato;
}

p, li{
   color: blue; 
}

.first{
    color: brown;
}

#second{
    color: chartreuse;
}

li > ul{
    background-color: brown;
}

ol h3{
    font-size: large;
    background-color: yellow;
}

#judah + a{
    color: red;
}

#judah ~ div{
    color: darkslategrey;
}

#